@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    /* background-image: url("images/header.jpg"); */
    background-size: cover;
    color: white;
}

h1 {
    font-family: 'Lobster', cursive;
}

html {
    font-family: 'Open Sans', sans-serif;
    /* background-image: url("images/fondo.png"); */
}

header h1,
header p {
    margin: 0 auto 20px;
    padding: 10px 0;
    text-align: center;
    width: 90%;
}

main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(200px,25vh)); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px,25vh);
    gap: 1vw;
}

.foto {
    position: relative;
    border-radius: 10px;
    transition: all 1s;
    overflow: hidden;
}

.foto img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.foto h2 {
    font-size: 0.9em;
    width: 100%;
    background-color: #fff0f566;
    padding: 3px;
}

.destino {
    position: absolute;
    top: 0;
    z-index: 10;
    transition: all 1s;
}

.pais {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    transition: all 1s;
    text-align: right;
}

.foto:hover {
    transform: scale(1.03);
    z-index: 100;
}

.foto:hover .destino {
    transform: translateY(-100%);
}

.foto:hover .pais {
    transform: translateY(100%);
}