* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: lavenderblush;
}

body {
    width: 80vw;
    margin: auto;
}

ul {
    list-style: none;
    width: 100%;
    overflow-x: hidden;
}

.productos {
    float: left;
}

.alergenos {
    float: right;
}

.precio {
    float: right;
}

.dots {
    width: 100%;
}

.dots::before {
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}