* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    background-size: 110px 200px;
    background-repeat: repeat-x;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 80vw;
    min-width: 430px;
    max-width: 800px;
    margin: auto;
}

header {
    margin: 10px auto;
}

h1 {
    font-size: 50pt;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table.leaders {
    overflow: hidden;
}

table.leaders td.producto::before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}

table.leaders td:first-child span {
    padding-right: 5px;
}

table.leaders span {
    background-color: #48B;
}
/*
td.producto {
    width: 100%;
}
*/

tr {
    height: 30px;
}

td.alergenos, td.precio {
    text-align: right;
}

td.alergenos {
    font-size: 0;
}

td.precio {
    width: 60px;
}

td.precio span {
    display: inline-block;
    width: 100%;
    padding-left: 5px;
}

span.alergeno {
    width: 30px;
    padding-left: 5px;
}

span.alergeno:hover {
    transform: scale(1.1);
}



footer > div {
    width: 14.28%;
    min-width: 100px;
    float: left;
    padding: 5px 10px;
}

footer > div > div {
    width: 100%;
}

footer > div > p {
    text-align: center;
    height: 40px;
    font-size: min(1em, max(1vw, 0.8em));
}

.gluten {
    content: url("alergenos/gluten.png");
}

.crustaceos {
    content: url("alergenos/crustaceos.png");
}

.huevos {
    content: url("alergenos/huevos.png");
}

.pescado {
    content: url("alergenos/pescado.png");
}

.cacahuetes {
    content: url("alergenos/cacahuetes.png");
}

.soja {
    content: url("alergenos/soja.png");
}

.lacteos {
    content: url("alergenos/lacteos.png");
}

.frutoscascara {
    content: url("alergenos/frutoscascara.png");
}

.apio {
    content: url("alergenos/apio.png");
}

.mostaza {
    content: url("alergenos/mostaza.png");
}

.sesamo {
    content: url("alergenos/sesamo.png");
}

.sulfitos {
    content: url("alergenos/sulfitos.png");
}

.altramuces {
    content: url("alergenos/altramuces.png");
}

.moluscos {
    content: url("alergenos/moluscos.png");
}