* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkseagreen;
}

#container {
    width: 80vw;
    margin: auto;
    max-width: 1200px;
}

h1, h2 {
    font-family: "Fredoka One";
    color: darkslategray;
    /*background-color: red;*/
    transition: background-color 5s ease, color 2s ease;
}

h1:hover {
    background-color: black;
    color: yellow;
}

p {
    font-family: "Domine";
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 8vw;
}

header {
    background-color: whitesmoke;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 15px;
    color: DarkSlateGray;
}

img {
	width: 50vw;
	display: block;
    margin: 15px auto;
    border: 2px solid gray;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: ease;
}

img:hover {
    /*
    filter: blur(2px) 
            grayscale(50%);
    filter: saturate(150%);
    filter: sepia();
    filter: invert(100%);
    filter: brightness(120%) contrast(100%);
    filter: drop-shadow(5px 5px 10px red);
    filter: hue-rotate(300deg);
    */
    /*
    transform: scaleY(0.5) scaleX(1.5);
    transform: rotate(10deg);
    transform: skew(20deg);
    transform: translate(10px,40px);
    transform: rotate3d(1,1,0,65deg);
    transform: perspective(100px);
    */
    transform: scale(1) translate(200px, -500px);
}

main {
    border: 2px solid white;
    border-radius: 5px;
}

.article-text {
    background-color: seagreen;
    padding: 10px 10%;
}

article p {
    color: white;
    margin: 10px;
    line-height: 2em;
}

main article:first-child {
    margin-bottom: 30px;
}

article {
    margin: 5px 5px;
}

article p::first-letter {
    color: maroon;
    font-size: 1.8em;
}

h2 {
    background-color: ghostwhite;
    padding: 3px 3px 3px 5%;
}

article:first-child div.article-text {
    background: radial-gradient(farthest-corner circle at top left, red, orange, yellow, green, blue, purple);
}

ul {
    border: 8px solid grey;
    /*background-color: DarkSlateGrey;*/
    background: linear-gradient(205deg, rgba(255,0,0,.8), rgba(255,0,0,0) 100%),
                linear-gradient(135deg, rgba(0,255,0,.8), rgba(0,255,0,0) 100%),
                linear-gradient(0deg, rgba(0,0,255,.8), rgba(0,0,255,0) 100%);
    color: gainsboro;
    font-family: "Roboto Mono";
    font-style: italic;
    list-style-position: inside;
    padding: 0px 3px;
    list-style-type: none;
}

li::before {
    content: "🦠";
    font-style: normal;
    display: inline-block;
    width: 3em;
    /*margin-right: 3em;*/
}

li {
    line-height: 1.4em;
    padding: 3px;
    text-align: justify;
}

ul:hover {
    border-color: mediumseagreen;
    opacity: 75%;
}

a {
    color: yellowgreen;
    text-decoration: none;
}

a:hover {
    font-size: 1.3em;
    text-shadow: 0px 0px 5px hotpink;
}

a:visited {
    color: darkolivegreen;
}

footer {
    background-color: gray;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin: 20px auto;
    padding: 20px;
}

footer p {
    text-align: center;
    font-weight: bold;
}