* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.contenedor {
    display: grid;
    width: 80%;
    margin: 0 auto;
    border: 5px solid purple;
    grid-template-columns: 50% 1fr 2fr auto;
    grid-template-rows: repeat(3, 1fr);

    grid-gap: 5px 1%;
    /*row-gap: 5px;
    column-gap: 10px;*/

}