* {
    box-sizing: border-box;
}

img {
    /*animation-name: mianimacion;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 3; 
    animation-direction: alternate;
    animation-fill-mode: backwards;*/
    animation: mianimacion 5s linear 1s 3 alternate forwards;
}

@keyframes mianimacion {
    30% {
        transform: rotatey(180deg);
    }
    60% {
        transform: rotatey(180deg);
        filter: blur(10px);
    }
    100% {
        transform: rotatey(180deg) rotatez(180deg);
    }
}