* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.contenedor {
    width: 80vw;
    height: 80vh;
    background-color: lavender;
    margin: 50px auto;
    padding: 2%;
    overflow: hidden;
}

.c1, .c2, .c3 {
    margin: 1%;
}

.c1 {
    width: 40%;
    height: 60%;
    border: solid 5px red;
    background-color: lightcoral;
    padding: 50px;
    float: left;
    margin-left: 4%;
}

.c2 {
    width: 50%;
    height: 30%;
    border: solid 5px green;
    background-color: palegreen;
    padding: 50px;
    float: left;
}

.c3 {
    width: 50%;
    height: 20%;
    border: solid 5px blue;
    background-color: lightskyblue;
    padding: 50px;
    margin-top: 4%;
    float: left;
}