* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

h1 {
    text-align: center;
}

.contenedor {
    width: 80vw;
    height: 80vh;
    background-color: lavender;
    margin: 50px auto;
    /*padding: 2%;*/
    overflow: hidden;
}
/*
.c1, .c2, .c3 {
    margin: 1%;
}
*/
.c1 {
    width: 40%;
    height: 60%;
    border: solid 5px red;
    background-color: lightcoral;
    margin-right: 5%;
    margin-left: 2.5%;
    float: left;
}

.c2 {
    width: 50%;
    height: 35%;
    border: solid 5px green;
    background-color: palegreen;
    /*margin-bottom: 5%;*/
    margin-right: 2.5%;
    float: left;
}

.c3 {
    width: 50%;
    height: 20%;
    border: solid 5px blue;
    background-color: lightskyblue;
    margin-top: 4vh;
    float: left;
}