* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.principal {
    width: 80%;
    height: 600px;
    background-color: skyblue;
    margin: 40px;
    padding: 10px;

    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row nowrap;

    /*eje principal*/
    justify-content: flex-start;

    /*eje cruzado*/
    align-items: center;

    align-content: space-around; /*se aplica cuando hay más de una línea*/
}

.flexitem {
    /*width: 100px;*/
    /*height: 100px;*/
    background-color: tomato;
    border: 2px solid black;
    padding: 15px;
    margin: 5px;

    /*
        Si está definida, se aplica en lugar del width (si row)
        auto: si está definidio width, se aplica; si no lo está, se ajusta al contenido
    */
    flex-basis: 150px;
    flex-grow: 1;
}

#i1 {
    order: 8;
    flex-shrink: 3;
    align-self: stretch;
}

#i2 {
    order: 5;
}

#i3 {
    order: -5;
}

#i4 {
    order: 15;
    align-self: flex-start;
}

#i5 {
    order: 3;
    align-self: flex-end;
}

#i6 {
    order: 20;
}