* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.fixed {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;

    background-color: lightcoral;
}

.fixed p {
    text-align: center;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 50px 10px 10px 10px;
}

header img {
    width: 10%;
    flex-basis: 10%;
}

header h1 {
    flex-basis: 90%;

    text-align: center;
}

nav {
    display: flex;
    flex-flow: row nowrap;
}

nav a {
    flex: 1 1 auto;

    text-align: center;

    margin: 1px;
    padding: 5px 0;
    background-color: paleturquoise;
}

main {
    display: flex;
    flex-flow: row nowrap;

    background-color: gray;
}

main p {
    text-align: justify;
}

.trivia {
    flex-basis: 25%;

    display: flex;
    flex-flow: column nowrap;
}

.trivia article {
    width: 80%;
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.trivia article.left {
    align-self: flex-start;
    background-color: navajowhite;
}

.trivia article.right {
    align-self: flex-end;
    background-color: peru;
}

.trivia article h3 {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.trivia article.left h3 {
    background-color: peru;
}

.trivia article.right h3 {
    background-color: navajowhite;
}

.contributors {
    flex-basis: 40%;

    display: flex;
    flex-flow: column nowrap;
}

.contributors article {
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

/*div.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}*/

.anchor::before {
    content: '';
    display: block;
    height:      50px;
    margin-top: -50px;
    visibility: hidden;
}

.contributors article img {
    width: 15%;
    min-width: 100px;
    float: left;
}

.contributors p {
    line-height: 1.5em;
}

.places {
    flex-basis: 35%;

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.places h2 {
    flex-basis: 100%;
}

.places article {
    flex: 1 1 45%;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    margin: 5px;
    background-color: palegoldenrod;
    min-width: 200px;
}

.places article img {
    width: 100%;
}

.places article h3 {
    text-align: center;
    margin-top: 10px;
}

.places article p {
    padding: 5px;
}

.places article a {
    background-color: goldenrod;
    text-align: center;
    margin: 5px;
    padding: 5px;
}