/*Hoja de estilos*/

* {
	box-sizing: border-box;
}

html {
	background-color: lightgoldenrodyellow;
}

article {
	font-family: Arial;
}

main h2, main h3, main h4 {
	color: blue;
	font-family: Georgia;
}

section h2, footer h2 {
	color: darkred;
}

.internacional {
	background-color: lightblue;
}

header h1, header h2 {
	font-family: Verdana;
	color: seagreen;
}

article + article a {
/*#art2 a {*/
	color: green;
	font-weight: bold;
}

p > span {
	font-variant: small-caps;
}
/*
header h2:nth-child(3) {
	color: orange;
}

#art2 p:nth-child(odd) {
	background-color: lightpink;
}

#art2 p:nth-child(even) {
	background-color: lightgray;
}

p a:only-child {
	color: red;
}
*/
.articulos p:first-of-type {
	font-style: oblique;
	color: darkslateblue;
}

.articulos h4:last-of-type {
	color: darkolivegreen;
}

#art2 h4:first-of-type {
	color: grey;
}

#art2 p :not(a) {
	font-family: Verdana;
	color: red;
}

.piedepag a:hover {
	color:deeppink;
	font-size: 24pt;
}

.lomas li:active {
	background-color: dimgray;
}

#art1 a:link {
	color: teal;
}

#art1 a:visited {
	color: sandybrown;
	text-decoration: none;
}

p::before {
	content: "***";
	color: red;
}

p::after {
	content: "***";
	color: blueviolet;
}

p::first-line {
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	color: orange;
}
p::first-letter {
	font-size: 20pt;
	color: black;
}

selection {
	background-color: yellow;
	color: teal;
	
}