* {
    box-sizing: border-box;
}

body {
    background-color: paleturquoise;
    font-family: Helvetica;
    font-weight: bold;
}

h1, legend {
    color: royalblue;
}

label {
    color: darkgreen;
}

input {
    background-color: lightgoldenrodyellow;
    font-weight: normal;
    outline-style: none;
}

input[type="submit"] {
    background-color: white;
}

fieldset {
    background-color: lavender;
}

.intereses label {
    font-weight: normal;
    font-style: italic;
    color: seagreen;
}

fieldset > fieldset {
    background-color: peachpuff;
}

input:required {
    background-color: mistyrose;
}

input:required::placeholder {
    color: deeppink;
    font-weight: normal;
    font-style: italic;
    background-color: peachpuff;
    opacity: 0.5;
}

input:focus {
    border: 5px solid mediumorchid;
}

input[type="radio"]:default {
    box-shadow: -3px -3px 3px green;
}

input[type="radio"] + label {
    color: rebeccapurple;
    font-family: 'Courier New';
}

.otros h2 {
    color: darkorchid;
    font-style: italic;
}

input[type="checkbox"]:default {
    box-shadow: 2px 2px 3px orange;
}

input:checked + label {
    color: green;
}

input:invalid:not(:required) {
    background-color: orangered;
}

#c1:checked + label {
    color: red;
}

#c2:checked + label {
    color: blue;
}

#c3:checked + label {
    color: yellow;
}

#c4:checked + label {
    color: green;
}