@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Josefin Sans', sans-serif;

    background-color: #8c8c8c;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23e6e6e6' fill-opacity='0.39' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.card-a {
    background-color: #30ad92;
}

.card-b {
    background-color: #6C42AD;
}

.card-c {
    background-color: #AD441F;
}

.card-d {
    background-color: #ADA828;
}

html {
    color: ghostwhite;
}

.container {
    width: 90%;
    margin: auto;
    background-color: black;
    opacity: 92%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    padding-top: 15px;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 6px;
    flex: 1 1 100%;

    border: solid 3px rgba(0, 0, 0, 0);
    border-radius: 3px;
    transition: border 1s;
}

.card:hover {
    border: solid 3px gainsboro;
}

.card img {
    width: 40%;
    border-radius: 50%;
    margin: 20px;
    border: solid 1px black;
    filter: brightness(130%);
    transform: scale(1);
    
    transition: all 1s;
}

.card:hover img {
    filter: brightness(100%);
    transform: scale(1.1);
    
}

.card-a:hover img {
    border: solid 4px #165043;
}

.card-b:hover img {
    border: solid 4px #2e1c4a;
}

.card-c:hover img {
    border: solid 4px #411a0b;
}

.card-d:hover img {
    border: solid 4px #3e3c0f;
}

h2, 
h3 {
    margin: 10px 0;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

.card > hr {
    width: 0;
    height: 3px;
    background-color: white;
    align-self: flex-start;
    margin-left: 5%;
    opacity: 0%;

    transition: all 3s;
}

.card:hover > hr {
    width: 90%;
    opacity: 100%;
}

.card > p {
    text-align: justify;
    font-size: 1.2em;
    width: 80%;
    margin: 20px 0;
}

.card .sn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    padding: 0 2%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: gainsboro;

    transition: all 2s;
}

.card:hover .sn {
    transform: scaleY(1);
    transform-origin: bottom;
}

.card .sn a i {
    font-size: 2.5em;
}

.card .sn a {
    padding: 10px;
}

.card-a .sn a {
    color: #165043;
}

.card-a .sn a:hover {
    color: gainsboro;
    background-color: #165043;
}

.card-b .sn a {
    color: #2e1c4a;
}

.card-b .sn a:hover {
    color: gainsboro;
    background-color: #2e1c4a;
}

.card-c .sn a {
    color: #411a0b;
}

.card-c .sn a:hover {
    color: gainsboro;
    background-color: #411a0b;
}

.card-d .sn a {
    color: #3e3c0f;
}

.card-d .sn a:hover {
    color: gainsboro;
    background-color: #3e3c0f;
}

.pareja {
    flex: 1 1 75%;

    display: flex;
    flex-flow: row nowrap;
}

.solo {
    flex: 1 1 25%;

    display: flex;
    flex-flow: row nowrap;

    min-width: 300px;
}