* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    width: 90%;
    margin: auto;
    background-color: thistle;
}

h1 {
    text-align: center;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.cards-reverse {
    display: flex;
    flex-flow: row-reverse wrap;
}

.card {
    background-color: turquoise;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
}

.card img {
    width: 30%;
    border-radius: 50%;
}

.carta-ancha {
    flex-basis: 35%;
}

.carta-estrecha {
    flex-basis: 25%;
    /*min-width: 300px;*/
}

.prueba {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 75%;
}

.prueba2 {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 25%;
    min-width: 300px;
}

.card4 {
    flex: 20% 1 1;
    min-width: 300px;
}

.card5 {
    flex: 50% 1 1;
}

.card6 {
    flex: 50% 1 1;
}